*{
  box-sizing: border-box;
  margin:0;
  /* DEBUG:  */
  /* border:1px solid black;
  padding:5px; */
}

body, html, .my-all-box {
  width: 100%;
  height: 100vh;
  font-family: arial, monospace;
  position: relative;
}


ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: #8d8e8f;
}

/* DEBUG:  */
/* img{
  height: 100px;
  width: 100px;
} */

a:hover{
  color: black;
}

#header-logo{
  width: 95px;
}

.navbar-fixed{
  background-color: #f3f4f5;
  height: 60px;
  align-items: center;
}
.fixed-content-left li{
  padding-right: 55px;
}
.fixed-content-right li{
  padding-left: 55px;
}
.navbar-menu{
  height: 120px;
}

.my-all-box > * {
  display: flex;
  justify-content: center;
}

.my-all-box > * > *{
  width: 80%;
}

.fixed-content-left, .fixed-content-right{
  display: flex;
}

.fixed-content{
  display: flex;
  justify-content: space-between;
}

.menu-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu{
  display: flex;
  padding-left: 55px;
  font-size: 15px;
  /* DEBUG:  */
  width: calc(100% - 300px);
}

.menu li{
  padding: 28px;
}

/* prova */

.parent-dropdown{
  position: relative;
}

.dropdown{
  top: 30px;
  position: absolute;
  background: red;
  width: 200px;
  height: 400px;
  display: none;
}
.inner{
  width: 100%;
  height: 100%;
}

.hide{
  display: none;
}

.show{
  display: block;
}

.hamburger-icon{
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 12px;
}

.burger-line{
  height: 2px;
  width: 17px;
  background-color: black;
}
.hamburger-menu{
  position: absolute;
  width: 100%;
  height: 100vh;
  top:0;
  left: 0;
  z-index: 1;
  /* DEBUG:  */
  background-color: white;
}

.h-burger-fixed{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.h-fixed-content-left{
  display: flex;
}

.h-line{
  display: flex;
  justify-content: space-between;
}
.h-dropdown{
  display: none;
}

.my-carica-app-button{
  background-color: black;
  padding: 15px 16px;
  border-radius: 11px;
  color: white;
  font-size: 14px;
  transition: 0.3s;
}
.my-carica-app-button:hover{
  color: white;
  background-color: grey;
}
/* griglia */

/* GRID */

/* .my-grid-container{
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:50% 25vh auto;

  grid-column-gap:;
  grid-row-gap:;
}

.my-grid-container.one{
  grid-column: 1 / 2;
}

.my-grid-container.two{
  grid-column: 2 / 3;
  background-color: red;
}

.my-grid-container.three{
  grid-column: 3 / 4;
} */

/* .my-grid-container.n2{
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-columns: repeat(2, 350px 60px) 10%;
  grid-template-rows:50% 25vh auto;

  grid-column-gap: 20px;
  grid-row-gap: 30px;
} */


/* FLEX */

/* ANIMATIONS / TRANSITIONS */


/* media query */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767px) {
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 991px) {
.navbar-fixed{
  display: none;
}
.fixed-content{
  display: none;
}
.menu{
  display: none;
}
.app-button{
  display: none;
}
.hamburger-icon{
  display: flex;
}
.hamburger-icon > *{
  /* DEBUG:  */
  padding: 0;
}

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .hamburger-menu{
    display: none;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .hamburger-menu{
    display: none;
  }
}
