*{
  box-sizing: border-box;
  margin:0;
  /* DEBUG:  */
  /* border:1px solid black;
  padding:5px; */
}
.main *{
  /* DEBUG:  */
  /* border:1px solid black; */
  padding:5px;
}

body, html {
  width: 100%;
  height: 100vh;
  font-family: 'Noto Sans TC', sans-serif;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}


.header, .main{
  width: 100%;
}


ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: #8d8e8f;
}

/* DEBUG:  */
/* img{
  height: 100px;
  width: 100px;
} */

a:hover{
  color: black;
}


#header-logo{
  width: 103px;
}

.navbar-fixed{
  background-color: #f3f4f5;
  height: 60px;
  align-items: center;
}
.fixed-content-left li{
  padding-right: 55px;
}
.fixed-content-right li{
  padding-left: 55px;
}
.navbar-menu{
  height: 120px;
}

.header > * {
  display: flex;
  justify-content: center;
}

.header > * > *{
  width: 90%;
}

.fixed-content-left, .fixed-content-right{
  display: flex;
}

.fixed-content{
  display: flex;
  justify-content: space-between;
}

.menu-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu{
  display: flex;
  padding-left: 20px;
  font-size: 15.5px;
  /* DEBUG:  */
  width: calc(100% - 300px);
}

.menu > li{
  padding: 28px;
}
.inner li{
  padding: 0 28px;
  margin: 30px 0;
}
/* prova */

.parent-dropdown{
  position: relative;
}

.dropdown{
  position: absolute;
  top: 63px;
  left: 0;
  background: white;
  box-shadow: 0  5px 17px 2px rgba(0, 0, 0, 0.1);
  border:none;
  border-radius: 7px;
  display: none;
  /* nowrap è utile */
  white-space: nowrap
}
.inner{
  width: 100%;
  height: 100%;
}

.hide{
  display: none!important;
}

.show{
  display: block!important;
}

.hamburger-icon{
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 12px;
}

.burger-line{
  height: 2px;
  width: 17px;
  background-color: black;
}
.hamburger-menu{
  position: fixed;
  width: 100%;
  height: calc(100vh - 72px);
  overflow-y: auto;
  overflow-x: hidden;
  top:0;
  left: 0;
  z-index: 1;
  background-color: white;
  display: none;
}

.h-burger-fixed{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f3f4f5;
  height: 95px;
  padding-left: 30px;
  padding-right: 30px;
}
.h-fixed-content-left{
  display: flex;
}
.h-fixed-content-left li{
  padding-right: 30px;
}
.h-menu {
  font-size: 17px;
}
.h-menu > li, .h-bottom-menu > li{
  margin: 33px 0;
}
.h-line{
  display: flex;
  justify-content: space-between;
}
.h-dropdown{
  display: none;
}

.my-carica-app-button{
  background-color: black;
  padding: 11px 16px;
  border-radius: 11px;
  color: white;
  font-size: 14px;
  transition: 0.2s;
}

#inizia-button{
  background-color: #47494c;
  padding: 13px 44px;
  border-radius: 11px;
  color: #848687;
  font-size: 19px;
  font-family: arial;
  font-weight: 500;
  transition: 0.2s;
}
#inizia-button:hover{
  cursor:not-allowed
}

.my-carica-app-button:hover{
  color: white;
  background-color: #3d4043;
}
#my-close{
  font-size: 20px;
}
.h-menu, .h-bottom-menu{
  padding-right: 50px;
  padding-left: 50px;
}

.h-menu .fa-angle-down, .h-bottom-menu .fa-angle-down{
  color: grey;
  font-size: 13.8px;
}

.h-menu > li:last-child{
  margin-bottom: 0;
  padding-bottom: 40px;
  border-bottom: 1px solid lightgrey;
}

/* main */

.main{
  display: flex;
  justify-content: center;
}

.main-content{
  width: 90%;
  display: flex;
}
.main-left{
  width: 50%;
  padding-top: 7.5rem;
}
.main-left > *{
  display: flex;
  justify-content: center;
  text-align: left;
}

.main-left h2{
  font-size: 75px;
  font-family: arial;
  font-weight: bold;
}

.main-left > p{
  color: #a0a8af;
  font-size: 17px;
  margin-top: 20px;
}
.main-right{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  position: relative;
}
.i-box{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  background-color: white;
  box-shadow: 1px 0 9px 5px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 26px;
}
.i-box i{
  border: none;
  position: relative;
  left: 2px;
}

.i-box:hover{
  cursor: pointer;
}
.main-right img{
  width: 500px;
  overflow: hidden;
}
.my-input{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.my-input > *{
  margin-right: 13px;
}
.my-input .my-select, .my-input input{
  height: 30px;
}

.clock{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: arial;
  font-size: 16px;
}

.my-input, .clock{
  margin-top: 20px;
}

.my-select{
  border-bottom: 1px solid #bac4ce;
  width: 85px;
  font-size: 15px;
  font-weight: bold;
  color: #585a5c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 5px;
}
.my-select i{
  font-size: 15px;
  color: #bac4ce;
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-input input{
  border: none;
  border-bottom: 1px solid #bac4ce;
  font-size: 15px;
  width: 160px;
}
/* media query */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767px) {
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 1080px) {
.navbar-fixed{
  display: none;
}
.fixed-content{
  display: none;
}
.menu{
  display: none;
}
.app-button.n1{
  display: none;
}
.hamburger-icon{
  position: relative;
  bottom: 12px;
  display: flex;
}
.hamburger-icon > *{
  /* DEBUG:  */
  padding: 0;
}

.app-button.n2{
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 72px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  z-index: 1;
}
.h-inner li{
  margin: 30px 0;
}

.h-inner li:first-child{
  padding-top: 5px;
}
.h-inner li a{
  color: #a0a8af;
  font-size: 14.8px;
}

.h-inner li a:hover{
  color: black;
}

.h-inner li a{
  color: #a0a8af;
  font-size: 14.8px;
}

/* main */
.main-content{
  width: 60%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-left{
  width: 100%;
  padding-top: 0;
}
.main-right{
  width: 100%;
  padding-top: 0;
}

.main-left h2{
  font-size: 45px;
  font-family: arial;
  font-weight: bold;
}
.main-left > *{
  display: flex;
  justify-content: center;
  text-align: center;
}

.main-right img{
  min-width: 300px;
  overflow: hidden;
}

.my-input, .clock{
display: none;
}

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 1081px) {
  .hamburger-menu{
    display: none!important;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
